<!doctype>
<html  xmlns:th="http://www.thymeleaf.org">

<!-- HEAD LAYOUT -->
<head th:fragment="head">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/index/index.css"/>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light card" th:fragment="vertical-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">CORP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/tablas">Tabla de posiciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/formulario">Formulario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/adminCrearLiga">Crear liga</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/adminCargarLiga">Cargar jugadores</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div th:fragment="footer-f">
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<footer class="position-absolute bottom-0 start-50 translate-middle-x col-12">
	    <hr>
	        <div class="text-center center-block">
	                <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
		            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
		            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-whats" class="fa fa-whatsapp fa-3x social"></i></a>
		            <a href="mailto:bootsnipp@gmail.com"><i id="social-ins" class="fa fa-instagram fa-3x social"></i></a>
			</div>
	    <hr>
	</footer>
</div>

<body th:fragment="import-script">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
</body>
</html>