<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">

<head  th:replace="layout/layout :: head"></head>
<head>
	<meta charset="utf-8" />
	<title>Clan Corporacion Magios AOE</title>
</head>

<body>
	<nav  th:replace="layout/layout :: vertical-navbar"></nav>
	
	<div class="card col-md-10 offset-md-1">
		<h1 class="text-center">Clan Corporacion Magios AOE</h1>
		<div>
			
		</div>
	</div>
	<footer th:replace="layout/layout :: footer-f"></footer>
</body>


  <!--   Core JS Files   -->
<body th:replace="layout/layout :: import-script"></body>

</html>