<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">

<head  th:replace="layout/layout :: head"></head>
<head>
	<meta charset="utf-8" />
	<title>Clan Corporacion Magios AOE</title>
</head>

<body>
	<nav  th:replace="layout/layout :: vertical-navbar"></nav>
	
	<div class="card col-md-6 offset-md-3 mt-4">
		<h1 class="text-center">Clan Corporacion Magios AOE</h1>
	</div>
	<div class="contenido-principal col-md-10 offset-md-1 row text-center">
		<div class="card col-md-6 mt-2">
			<div class="card-header">
				<h2 class="">Corp enfrentamientos semanales</h2>
			</div>
			<div class="card-body">
				<ul class="list-group list-group-flush">
				  <li class="list-group-item">Ponguta vs Rol - Latin cup (25/03/2021 16:00GMT)</li>
				  <li class="list-group-item">Ponguta vs Rol - Latin cup (25/03/2021 16:00GMT)</li>
				  <li class="list-group-item">Ponguta vs Rol - Latin cup (25/03/2021 16:00GMT)</li>
				</ul>
  			</div>
			<div class="card-footer text-muted">
			  23/03/2021 - 30/03/2021
			</div>
  		</div>
		<div class="card col-md-6 mt-2">
			<div class="card-header">
				<h2 class="">Anuncios</h2>
			</div>
			<div class="card-body">
				<ul class="list-group list-group-flush">
				  <li class="list-group-item">
				  	<h3>Se acerca la Hidden CORP</h3>
				  	<p>Toda la información referente a la hidden corp podes encontrarla en este link!</p>
				  </li>
				  <li class="list-group-item">
				  	<h3>Comenzó la Latin age cup</h3>
				  	<p>Toda la información referente a la hidden corp podes encontrarla en este link!</p>
				  </li>
				  <li class="list-group-item">
				  	<h3>Comenzó la Latin age cup</h3>
				  	<p>Toda la información referente a la hidden corp podes encontrarla en este link!</p>
				  </li>
				</ul>
			</div>
			<div class="card-footer text-muted">
			  23/03/2021 - 30/03/2021
			</div>
		</div>
	</div>
	<div th:replace="layout/layout :: footer-f"></div>
</body>


  <!--   Core JS Files   -->
<body th:replace="layout/layout :: import-script"></body>

</html>