<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head  th:replace="layout/layout :: head"></head>
<head>
	<meta charset="utf-8" />
	<title>Tablas de posiciones</title>
</head>

<body>
<nav  th:replace="layout/layout :: vertical-navbar"></nav>
  <!-- End Navbar -->
<div class="main-panel">
	  <div class="col-md-10 offset-md-1 mt-2">
	    <div class="card">
	      <div class="card-header card-header-primary">
	        <h4 class="card-title ">Tabla de posiciones DE</h4>
	        <div class="card-category col-sm-12 col-lg-2 col-xl-1">
	        	<select class="form-select">
	        		<option>Paladín</option>
	        		<option>Campeón</option>
	        		<option>Arbalesta</option>
	        		<option>Arquero</option>
	        		<option>Milicia</option>
	        	</select>
	        </div>
	      </div>
	      <div class="card-body">
	        <div class="table-responsive">
	          <table class="table">
	            <thead class="text-primary">
	            <tr>
	              <th>
	                Posición
	              </th>
	              <th>
	                Jugador
	              </th>
	              <th>
	                Puntos
	              </th>
	              <th>
	                Ganadas
	              </th>
	              <th>
	                Perdidas
	              </th>
	            </tr>
	            </thead>
	            <tbody>
	              <tr class="alert-success">
	                <td>
	                  1
	                </td>
	                <td>
	                  Dakota Rice
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  2
	                </td>
	              </tr>
	              <tr>
	                <td>
	                  2
	                </td>
	                <td>
	                  Minerva Hooper
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  2
	                </td>
	              </tr>
	              <tr>
	                <td>
	                  3
	                </td>
	                <td>
	                  Sage Rodriguez
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  2
	                </td>

	              </tr>
	              <tr>
	                <td>
	                  4
	                </td>
	                <td>
	                  Philip Chaney
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  2
	                </td>
	              </tr>
	              <tr class="alert-danger">
	                <td>
	                  5
	                </td>
	                <td>
	                  Doris Greene
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  2
	                </td>
	              </tr>
	              <tr class="alert-danger">
	                <td>
	                  6
	                </td>
	                <td>
	                  Mason Porter
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  2
	                </td>
	              </tr>
	            </tbody>

	          </table>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="col-md-10 offset-md-1 mt-2">
	    <div class="card card-plain">
	      <div class="card-header card-header-primary">
	        <h4 class="card-title ">Tabla de posiciones Voobly</h4>
	        <div class="card-category col-sm-12 col-lg-2 col-xl-1">
	        	<select class="form-select">
	        		<option>Paladín</option>
	        		<option>Campeón</option>
	        		<option>Arbalesta</option>
	        		<option>Arquero</option>
	        		<option>Milicia</option>
	        	</select>
	        </div>
	      </div>
	      <div class="card-body">
	        <div class="table-responsive">
	          <table class="table table-hover">
	            <thead class="text-primary">
	            <tr>
	              <th>
	                Posición
	              </th>
	              <th>
	                Jugador
	              </th>
	              <th>
	                Puntos
	              </th>
	              <th>
	                Ganadas
	              </th>
	              <th>
	                Perdidas
	              </th>
	            </tr>
	            </thead>
	            <tbody>
	              <tr class="alert-success">
	                <td>
	                  1
	                </td>
	                <td>
	                  Dakota Rice
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  2
	                </td>
	              </tr>
	              <tr>
	                <td>
	                  2
	                </td>
	                <td>
	                  Minerva Hooper
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  2
	                </td>
	              </tr>
	              <tr>
	                <td>
	                  3
	                </td>
	                <td>
	                  Sage Rodriguez
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  2
	                </td>
	              </tr>
	              <tr>
	                <td>
	                  4
	                </td>
	                <td>
	                  Philip Chaney
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  2
	                </td>
	              </tr>
	              <tr class="alert-danger">
	                <td>
	                  5
	                </td>
	                <td>
	                  Doris Greene
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  2
	                </td>
	              </tr>
	              <tr class="alert-danger">
	                <td>
	                  6
	                </td>
	                <td>
	                  Mason Porter
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  1
	                </td>
	                <td>
	                  2
	                </td>
	              </tr>
	            </tbody>
	          </table>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</body>
  <!--   Core JS Files   -->
<body th:replace="layout/layout :: import-script"></body>

</html>